html {

}
body {
    font-family: sans-serif, 'Cardo', serif;
    margin: 0;
    margin-left: 250px;

}

*{
    box-sizing: border-box;
}

.homebackground{
background-image: url(images/sfondo6.png);
background-repeat: no-repeat;
background-size: 100%;}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
   }


.container {                                    /*contenuto pagine*/
    padding: 40px;
    margin: 0 auto;
    max-width: 1000;
    text-align: center;
}
.logo{
    width: 50%;
    margin-bottom: 20px;
    
}
                                                     /*pulsante */

.pulsantesottotitolo1{

    color: white;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    cursor: pointer; 
    margin: 10px;
}

.pulsantesottotitolo2{
    color: white;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    cursor: pointer; 
    margin: 10px;
}

.pulsante2style{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-size: 38px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    border: 2px solid #333;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    transition: all .35s;
    background-color: #4b0606;
    
  }

  .pulsante2style span{
    position: relative;
    z-index: 2;
  }
  
  .pulsante2style:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white ;
    transition: all .35s;
  }
  
  .pulsante2style:hover{
    color: #4b0606;
  }
  
  .pulsante2style:hover:after{
    width: 100%;
  }


.pulsante1 {


    color: white;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    cursor: pointer; 
    margin: 10px;
}

.pulsante1style{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-size: 38px;
    font-family: sans-serif;
    text-decoration: none;
    color: #4b0606;
    border: 2px solid #333;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }

  .pulsante1style span{
    position: relative;
    z-index: 2;
  }
  
  .pulsante1style:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4b0606 ;
    transition: all .35s;
  }
  
  .pulsante1style:hover{
    color: #fff;
  }
  
  .pulsante1style:hover:after{
    width: 100%;
  }

.imgcontatti {
    width: 70%;
  

}


#pulsantino {
    display: none;
}

.sottotitolo {
    font-size: 40px;
    border-top: -60px;
}

/* Basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}





h1{
    font-size: 2em;
    font-weight: normal;


}

h3{

    border-color: #410505e1;
}

.sottolineato{
    text-decoration: underline;
}


 

                                                /* subtitle styles */
.home-subtitle span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
    padding: 10px;
    color:#4b0606;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;;
    font-size: 40px;
    color: ; 
    text-shadow: 5px 10px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
    
    



    
    




}

.home-subtitle span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #410505e1;
    animation: a-ltr-after 1s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-subtitle span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 1.5s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-subtitle span:nth-of-type(1)::before,
.home-subtitle span:nth-of-type(1)::after{
    animation-delay: 1.5s;
}

.home-subtitle span:nth-of-type(2)::before,
.home-subtitle span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}



                                                /* subtitle text styles */

.home-subtitletext span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
    padding: 10px;
    color: #4b0606;

}

.home-subtitletext span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #410505e1;
    animation: a-ltr-after 1s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-subtitletext span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 1.5s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-subtitletext span:nth-of-type(1)::before,
.home-subtitletext span:nth-of-type(1)::after{
    animation-delay: 1.5s;
}

.home-subtitletext span:nth-of-type(2)::before,
.home-subtitletext span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}



.testopagina {
    font-size: 25px;
}
.imgsutesto{
    width: 70%; margin: 40px;} 

.ivantaggi{
;

}

.impresaedileristruttura{
    font-size: 40px;
    color: #4b0606;
}

.rivolgendosi{
    margin-bottom: 25px;

}

.connoi{
    margin:40px;
    font-size: 30px;
}
    
.slider{                                        /*slideshow*/
	max-width: 900px;
	border:5px solid  #410505e1;
	margin:40px auto;
	position: relative;
	overflow: hidden;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #410505e1;
}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}


.slider .slider-items .item.active{
	display: block;
}

                                                    /*MENU LATERALE*/
#navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #410505e1;
    color: white;
    top: 0;
    left: 0;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}

.logonavbar{
    width: 100%;
    border-top: 50px;
}

.nav-brand {
    text-align: center;
    font-size: 28px;
    
}


.linkbianchi {color: white;
text-decoration: none;}

.linkbianchi:hover{
    color: rgb(165, 164, 164);
}

.nav-items {
    padding-inline-start: 0;

}
.nav-items > li{
    list-style-type: none;
    margin-bottom:40px ;
    text-align: left;
    font-size: 30px;
}
.nav-items > li:hover{
    cursor: pointer;
    transform: scale(1.1);

}
.nav-footer > .social {
     display: inline-block;
    text-align: center;
    margin-top: 50px;
    padding: 30px;


    
}
.fbandinsta{
    font-size: 40px;
    padding: 20px;
    text-align: center;
    color: white;
}

.fbandinsta:hover{
    transform: scale(1.1);
    color: black;
}

.titleupsocial{
    font-size: 20px;
}



.nav-footer {
    text-align: center;
}

.fbandinsta{

}

#hamburgerbtn{
    position:fixed ;
    top: 30px;
    right: 30px;
    display: none;
    z-index: 10;
    font-size: 30px;
}

#hamburgerbtn:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.692);
}
.copyrightsito{
    margin-top: 50px;
    margin-bottom:-100px ;
    font-size: 10px;


   
}
                                                    /*MOBILE */
@media only screen and (max-width: 768px) {
    body{
        margin-left: 0;
    }
    .logo{
        width: 90%;
    }
    
    .home-subtitle span{
    font-size: 1em;
    }

    #pulsantino {
        background-color:#410505e1 ;
        color: white;
        padding: 15px 42px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 35px;
        cursor: pointer; 
        margin: 20px;
    }
    .pulsante1 { 
        display: none;

    }



    .pulsante2style{
        font-size: 30px;

    

    }

    
    .imgsutesto{ width: 80%;}

    .imgcontatti{ width:100%;}
    
    .slider .left-slide{
       font-size: 20px;
    }
    .slider .right-slide{
    font-size: 20px;
    }

 

    #navbar {
        width: 100vw;
        transform:translateX(-1000px) ;   
        transition: transform 500ms;
        justify-content: unset;
    }


     #navbar.open {
        transform: translateX(0);
     }

     .nav-items > li {
         text-align: center;
         margin-bottom: 12px;
     }
     .nav-footer {
         margin-top: -75px;
        }

     .titleupsocial{
    
    }

    
     .fbandinsta{
         font-size: 30px;
        }

     #hamburgerbtn{
        position:fixed ;
        top: 30px;
        right: 30px;
        display: inline-block;
    }

}
/*RESPONSIVE FOR IPHONE5/5S*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{
   .fbandinsta{font-size: 30px; }
   .nav-items{font-size: 10px;}
   .nav-footer {display: none;}
   .logonavbar{width: 70%;}

   .nav-items > li{
    list-style-type: none;
    margin-bottom:10px ;}
    #pulsantino {
        background-color:#410505e1 ;
        color: white;
        padding: 15px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        cursor: pointer; 
        margin: 20px;
    }
    .pulsante1 { 
        display: none;

    }

    *{
        font-size: 30px;
    }
    
    h3{
        font-size: 20px;
    }
}

