html {

}
body {
    font-family: sans-serif;
    margin: 0;
    margin-left: 250px;
    background-color: #ffffff;
}

*{
    box-sizing: border-box;
}
.container {                                    /*contenuto pagine*/
    padding: 40px;
    margin: 0 auto;
    max-width: 1000;
    text-align: center;
}
.logo{
    width: 50%;
    
}

#pulsante {
    background-color:#410505e1 ;
    color: white;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    cursor: pointer; 
    margin: 20px;
}

.imgcontatti {
    width: 70%;
  

}

#pulsante:hover{
    background-color:#4b0606;
    transform: scale(0.9);

}

.sottotitolo {
    font-size: 30px;
    border-top: -100px;
    
}

.testopagina {
    font-size: 25px;
}
.imgsutesto{
    width: 60%; margin: 40px;} 

.slider{                                        /*slideshow*/
	max-width: 900px;
	border:5px solid  #410505e1;
	margin:40px auto;
	position: relative;
	overflow: hidden;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #410505e1;
}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}


.slider .slider-items .item.active{
	display: block;
}

                                    /*MENU LATERALE*/
#navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #410505e1;
    color: white;
    top: 0;
    left: 0;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logonavbar{
    width: 80%;
    border-top: 40px;
}

.nav-brand {
    text-align: center;
    font-size: 28px;
    
}


.linkbianchi {color: white;
text-decoration: none;}

.linkbianchi:hover{
    color: rgb(165, 164, 164);
}

.nav-items {
    padding-inline-start: 0;

}
.nav-items > li{
    list-style-type: none;
    margin-bottom:40px ;
    text-align: left;
    font-size: 28px;
}
.nav-items > li:hover{
    cursor: pointer;
    transform: scale(1.1);

}
.nav-footer > .social {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    
}
.fbandinsta{
    font-size: 40px;
    display: inline-block;
    padding: 10px;
    text-align: left;
    color: white;
}

.fbandinsta:hover{
    transform: scale(1.1);
    color: black;
}

.titleupsocial{
    font-size: 20px;
}



.nav-footer {
    text-align: center;
}

.fbandinsta{

}

#hamburgerbtn{
    position:fixed ;
    top: 30px;
    right: 30px;
    display: none;
    z-index: 10;
    font-size: 30px;
}

#hamburgerbtn:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.692);
}
.copyrightsito{
    margin-top: 50px;
    margin-bottom:-100px ;
    font-size: 10px;


   
}
                                                    /*MOBILE */
@media only screen and (max-width: 768px) {
    body{
        margin-left: 0;
    }
    .logo{
        width: 80%;
    }
    #pulsante {
        font-size: 20px;
    }
    .imgsutesto{ width: 80%;}

    .imgcontatti{ width:100%;}
    
    .slider .left-slide{
       font-size: 20px;
    }
    .slider .right-slide{
    font-size: 20px;
    }

    #navbar {
        width: 100vw;
        transform:translateX(-1000px) ;   
        transition: transform 500ms;
        justify-content: unset;
    }


     #navbar.open {
        transform: translateX(0);
     }

     .nav-items > li {
         text-align: center;
         margin-bottom: 25px;
     }
     .nav-footer {margin-top: -70px;}

     .titleupsocial{
    
    }
    
     .fbandinsta{font-size: 30px;}

     #hamburgerbtn{
        position:fixed ;
        top: 30px;
        right: 30px;
        display: inline-block;
    }

}
/*RESPONSIVE FOR IPHONE5/5S*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{
   .fbandinsta{font-size: 30px; }
   .nav-items{font-size: 10px;}
   .nav-footer > .social{font-size: 5px;}
   .logonavbar{width: 70%;}
   .titleupsocial{font-size: 15px;}
   .nav-items > li{
    list-style-type: none;
    margin-bottom:10px ;

}
}

